---
layout: default
---
{%- assign lang = page.lang | default: "en" -%}
{%- assign strings = site.data.i18n[lang] -%}
{%- assign localized_posts = site.posts | where: "lang", lang -%}
{%- assign newer_post = nil -%}
{%- assign older_post = nil -%}
{%- assign prior_post = nil -%}
{%- for post in localized_posts -%}
  {%- if post.url == page.url -%}
    {%- assign newer_post = prior_post -%}
    {%- assign older_post = localized_posts[forloop.index] -%}
  {%- endif -%}
  {%- assign prior_post = post -%}
{%- endfor -%}
{%- if lang == "pt-BR" -%}{%- assign tags_url = "/pt-br/tags/" -%}{%- else -%}{%- assign tags_url = "/tags/" -%}{%- endif -%}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta post-header-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- include localized-date.html date=page.date lang=lang -%}
      </time>
      {%- if page.reading_time -%}
        <span>{{ page.reading_time }} {{ strings.post.reading_time }}</span>
      {%- endif -%}
      {%- if page.tags.size > 0 -%}
        <span class="post-header-tags">
        {%- for tag in page.tags -%}
          <a class="post-tag" href="{{ tags_url | relative_url }}?tag={{ tag | cgi_escape }}">{{ tag }}</a>
        {%- endfor -%}
        </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if newer_post or older_post -%}
    <nav class="post-nav">
      {%- if older_post -%}
        <a class="post-nav-link prev" href="{{ older_post.url | relative_url }}">
          &larr; {{ older_post.title | escape }}
        </a>
      {%- endif -%}
      {%- if newer_post -%}
        <a class="post-nav-link next" href="{{ newer_post.url | relative_url }}">
          {{ newer_post.title | escape }} &rarr;
        </a>
      {%- endif -%}
    </nav>
  {%- endif -%}
</article>
